/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
vendor

# byebug
ignore.*
.byebug_history

# IDE config folders
/.vscode
/.VSCodeCounter

# Jekyll docs
/docs/_site/
/docs/.sass-cache
/docs/.jekyll-cache
/docs/.jekyll-metadata
/docs/vendor
