# frozen_string_literal: true

require 'test_helper'

class <%= class_name %>Test < ::ActiveSupport::TestCase
  # test 'returns correct html' do
  #  assert_equal <<~HTML, <%= class_name %>.call
  #    <div>Some HTML!</div>
  #  HTML
  # end
end
